.player-top

    .player-poster
        width: 104px
        height: 104px
        float: left

    .player-description
        width: 166px
        float: left
        margin-left: 20px

.audiojs

    .play-pause
        display: none

    .scrubber
        width: 440px

    .time
        display: none
