.player-top .player-poster {
  width: 104px;
  height: 104px;
  float: left; }
.player-top .player-description {
  width: 166px;
  float: left;
  margin-left: 20px; }

.audiojs .play-pause {
  display: none; }
.audiojs .scrubber {
  width: 440px; }
.audiojs .time {
  display: none; }
